body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: black;
    color: lightseagreen;
    margin: 0;
}


.button{
    text-align: center;
    background-color: black;
    color: lightseagreen;
    font-size: 24px;
}

#puzzleBoard {
    display:grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.puzzle-container {
    
    text-align: center;
}

.tile {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 2px;
    background-color: lightseagreen;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
    
}
h2{
    justify-content: center;
    text-align: center;
    align-items: center;
    color:lightseagreen;
    font:24px;
}
btn-group btn-group-toggle{
    color: lightseagreen;
    background-color: black;
}
