body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:gray;
    color:pink
}

#game-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.country {
    width: 200px;
    height: 500px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.airplane {
    font-size: 50px;
    cursor: grab;
}

#netherlands {
    border-color: green;
}

#message-container {
    margin-top: 20px;
    font-size: 24px;
    color:pink;
}
